<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Week 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
print("Hello, How are you?")

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [3]:
print("    *    ")
print("   ***   ")
print("  *****  ")
print(" ******* ")
print("*********")

    *
   ***
  *****
 *******
*********

In [2]:
for i in range(5):
    
    for j in range(5-i):
        print(" ",end="")
    
    for j in range(i):
        print("*",end='')
        
    for  j in range(i+1):
        print("*",end="")
    print()

     *
    ***
   *****
  *******
 *********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
print("A\nB\nC")

A
B
C

In [1]:
print("A","B","C",sep='\n')

A
B
C

In [2]:
var = "A","B","C"
for i in var:
    print(i)

print()

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [4]:
A = 100
B = 23.98
C = "Python"
D = 10000000000000000
E = True
F = False
print(type(A),A)
print(type(B),B)
print(type(C),C)
print(type(D),D)
print(type(E),E)
print(type(F),F)

<class 'int'> 100
<class 'float'> 23.98
<class 'str'> Python
<class 'int'> 10000000000000000
<class 'bool'> True
<class 'bool'> False

**Declare a numeric variable and check its data type.** <br>
i. An integer variable.

In [5]:
A = 2345
type(A)

int

ii. A fractional variable

In [6]:
B = 23.98
type(B)

float

**Declare a boolean variable and check its data type.**

In [8]:
C = True 
type(C)

bool

In [1]:
a = 10
b = 6

a<b

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
comp_var = 3+4j
print(type(comp_var))
print(comp_var.real)
print(comp_var.imag)

<class 'complex'>
3.0
4.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
F = 23.45
print(int(F))

23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
I = 2345
J = str(I)
print(type(I),I)
print(type(J),J)

<class 'int'> 2345
<class 'str'> 2345

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
total  = 145 * 354 - 1345 / 45 + (462 + 23) / 3
print(total)

51461.777777777774

In [3]:
a = 145   #int(input("Enter the 1st number"))
b = 354 
c = 1345
d = 45
e = 462
f = 32
g = 3

add1 = e + f
div1 = c / d
div2 = add1 / g
mul1 = a * b
add2 = div1 + div2
sub1 = mul1 - add2
print(sub1)

51135.444444444445

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
print("Add :",1353 + 234)
print("Sub :",2355 - 346)
print("Mul :",234 * 457)
print("div :",25 / 6)
print("Reminder :",25 % 6)
print("Exp :",33**4)
print("Fdiv :",45//6)
print("exp :",2**10)

Add : 1587
Sub : 2009
Mul : 106938
div : 4.166666666666667
Reminder : 1
Exp : 1185921
Fdiv : 7
exp : 1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
Weight = float(input("Enter your weight in KG :"))
Height = float(input("Enter your Height in CM :"))

Height_M = Height / 100

BMI = Weight / (Height_M * Height_M)

print("BMI :",BMI)

Enter your weight in KG :69
Enter your Height in CM :185
BMI : 20.16070124178232

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [27]:
A = (54+34)*45
print(A)
B = (0.9*2432)/0.9
print(B)
if A == B:
    print("Values are equal")
else:
    print("Vlaues are not equal")

3960
2432.0
Vlaues are not equal

In [3]:
if (54+34)*45 == (0.9*2432)/0.9:
    print("Values are equal")
else:
    print("Vlaues are not equal")

Vlaues are not equal

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
A = "Started"
B = "Learning"
C = "Python"
Out = A + " " + B + " " + C
print(Out)

Started Learning Python

In [3]:
A = "Started"
B = "Learning"
C = "Python"
print(A,B,C)

Started Learning Python

In [4]:
A = "Started"
B = "Learning"
C = "Python"
print(A+B+C)

StartedLearningPython

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
num = 34
string = "How old are you? "
out = string + str(num)
print(out)

How old are you? 34

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
start the program 
get the input from the user for table and seq number
iterate using for loop 
multipli the iterated value with the entred table number 
and dispay the result

In [29]:
A = int(input("Enter the table Number : "))
B = int(input("Enter the End Seq Number : "))

for i in range(1,B+1): #If we want to start with 1 use range(1,B+1)
    out = A * i
    print(A,"*",i,"=",out)

Enter the table Number : 5
Enter the End Seq Number : 10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
start the program
get the length of the series form the user
declare 2 varibale with value 0 and 1 
and declare the count value as 0
use while loop to check the length 
print the value a
add the 2 varibale and assign the value to temp variable 
swift the value from b to a 
swfit the value from tmep to b
increase the counter value to 1

In [32]:
num = int(input("Enter the Length of Fibonacci series : "))
a,b = 0,1
count = 0

while count < num:
    print(a)
    temp = a + b
    a = b
    b = temp
    count += 1

Enter the Length of Fibonacci series : 9
0
1
1
2
3
5
8
13
21

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
start the program 
get 2 interger value from user and store it an separate varibale 
using if statement compare both the value
if it is true print A is greater than B
else print B is greater than A

In [51]:
A = int(input("Enter the 1st number"))
B = int(input("Enter the 2nd number"))

if A > B:
    print(A,"is bigger and",B,"is smaller")
else:
    print(B,"is bigger and",A,"is smaller")

Enter the 1st number23
Enter the 2nd number32
32 is bigger and 23 is smaller

In [45]:
num = int(input("Enter the len of seq : "))
aa=[]
maxx = 0
for i in range(num):
    #print(i)
    b = int(input("Enter the number : "))
    aa.append(b)
print(aa)

for j in range(len(aa)):
    if maxx < aa[j]:
        maxx = aa[j]
print(maxx,"is the largest number")

Enter the len of seq : 5
Enter the number : 5
Enter the number : 4
Enter the number : 3
Enter the number : 6
Enter the number : 2
[5, 4, 3, 6, 2]
6 is the largest number

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
start the program 
get the umber from the user 
use mod(%) operator to check the input value is divided by 7 or not 
if the reminder is equal to 0 
print given value is divided by 7 
else print give value is not divided by 7

In [13]:
B = int(input("Enter the divider : "))
A = int(input("Enter the Number : "))

if A % B == 0:
    print(A,"is divisible by",B)
else:
    print(A,"is not divisible by",B)

Enter the divider : 7
Enter the Number : 12
12 is not divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
start the program 
get the input from the user 
if the number less than 0 print factorial doesn't exit 
elif number equal to 1 print 1 
else iterate using for loop and multiple the iterated value with the fact variable which is define as 1 in global variable 
print the result fact

In [6]:
Num = int(input("Enter the number : "))
fact = 1
if Num < 0:
    print("Factorial doesn't exit for negative numbers")
elif Num == 1:
    print("Factorial of 1 is 1")
else:
    for i in range(1,Num+1):
        fact *= i
print("Factorial of",Num,"is",fact)

Enter the number : 6
Factorial of 6 is 720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
start the program 
get the value from the user 
check value is greater then 1 
iterate using for loop from the range of 2 to end value 
divide the value with the iterated number form the for loop 
if the reminder is equal tp 0 print not a prime number 
else print entered value is a prime number

In [7]:
A = int(input("Enter the Numer : "))

if A > 1:
    for i in range(2,A):
        if A % i == 0:
            print(A,"is not a prime number")
            print(i,"*",int(A/i),"=",A)   #print(i,"*",A//i,"=",A)
            break
    else:
        print(A,"is a prime number")
            
else:
    print(A,"is not a prime number")

Enter the Numer : 9
9 is not a prime number
3 * 3 = 9