<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Week 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [3]:
my_list = [15, 78, 10, 45, 89]

def swp(x):
    temp = x[0]
    x[0] = x[-1]
    x[-1] = temp
    return x
    
swp(my_list)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
a = 1204
b = 344536

def addd():
    return a+b
addd()

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [105]:
def check(x):
    if x%2 == 0:
        return 'Even'
    else:
        return 'Odd'
check(33)

'Odd'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
def fact(x):
    a=1
    for i in range(1,x+1):
        a *= i
    return a
fact(int(input("Enter the number: ")))

Enter the number: 5

120

In [2]:
def fact(n):
    if n == 0 or n ==1:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
l1=[]
def alist(x):
    l1.append(x)
    return l1
a  = int(input("Enter the number of items to enter : "))
for i in range(a):
    alist(int(input("Enter the element : ")))
print(l1)

Enter the number of items to enter : 3
Enter the element : 1
Enter the element : 2
Enter the element : 3
[1, 2, 3]

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
def comp(x,y):
    if x[0] == y[0]:
        return "same"
    else:
        return "not same"
    
x= input("enter the string 1 : ")
y = input("enter the string 2 : ")
comp(x,y)

enter the string 1 : python
enter the string 2 : Python

'not same'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
def chk(x):
    for i in x:
        if i.lower() in 'aeiou':
            return "True"
        else:
            return "False"
chk(input("Enter the string : "))

Enter the string : python

'False'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [28]:
my_list = [1,2,3,3,11,34,3,3,4,5]
new1 =[]

def unq(x):
    for i in x:
        if i not in new1:
            new1.append(i)
    return new1
unq(my_list)

[1, 2, 3, 11, 34, 4, 5]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [35]:
string1 = 'Angel'
string2 = 'apple'
o =[]
def com(x,y):
    for i in x:
        for j in y:
            if i == j:
                o.append(i)
    return o
com(string1,string2)

['e', 'l']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [36]:
def arith(x,y):
    add = x+y
    sub = x-y
    mul = x*y
    return add, sub, mul
arith(15,4)

(19, 11, 60)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [38]:
def summ(x):
    a =0
    for i in x:
        a +=i
    return a
my_list = [34, 34, 55, 2, 56, 45]
summ(my_list)

226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [43]:
a = 34
b = 78

out = lambda x,y : x if x<y else y
print(out(a,b))

34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [46]:
number = (11, 21, 30, 34)
out = list(map(lambda x: x**2,number))
print(out)

[121, 441, 900, 1156]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [49]:
sentence = 'Python for Data Science'
out1 = list(map(lambda x:len(x),sentence.split(" ")))
print(out1)

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [51]:
numbers = [ 74, 85, 14, 23 ]
out2 = list(map(lambda x : x%5, numbers))
print(out2)

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [53]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
out = zip(list1,list2)
print(dict(out))

{'I': 55, 'felt': 22, 'happy': 33, 'because': 44, 'saw': 66, 'the': 77, 'others': 88, 'were': 99}

In [20]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [0,11,22,33,44,55,66,77,88,99]
oo =  map(lambda x,y: x+str(y), list1,list2)
print(list(oo))

['I0', 'felt11', 'happy22', 'because33', 'I44', 'saw55', 'the66', 'others77', 'were88', 'happy99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [62]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
def com(x):
    for i in x:
        if i in arr2:
            return i
out3 = filter(com, arr1)
print(set(out3))

{'t', 'i', 'o'}

In [26]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
out3 = filter(lambda x : x in arr2, arr1)
print(set(out3))

{'i', 't', 'o'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [106]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

out6 = list(filter(lambda x : x%2 == 0, numbers))
print(out6)

[110, 352, 278]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [66]:
from functools import reduce
out7 = reduce(lambda x,y : x+y , range(1,101))
print(out7)

5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [68]:
my_list = [47,11,42,102,13]
out8 = reduce (lambda x,y:x if x>y else y , my_list)
print(out8)

102

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. A 5 star hotel is maintaining its order history in the dictionary in the given format. Find out which food item is ordered the least

order_id: [list of items ordered]

order_history= {161:['Noodles','Tomato Soup','Fries'],162:['Rice Idli','Rawa Dosa','Fries'],163:['Fries','Noodles'],164:['Rice', 'Idli','Rawa Dosa','Fries','Noodles']}..<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
order_history= {161:['Noodles','Tomato Soup','Fries'],162:['Rice Idli','Rawa Dosa','Fries'],163:['Fries','Noodles'],164:['Rice', 'Idli','Rawa Dosa','Fries','Noodles']}

In [82]:
foods = []
for i,j in order_history.items():
    for v in j:
        foods.append(v)
# print(foods)
u_foods = set(foods)
# print(u_foods)
min = 0
count_foodsitm = []
counnt = []
for i in u_foods:
    count_foodsitm.append(foods.count(i))
    counnt.append([i,foods.count(i)])
dict1 = dict(counnt)
count_foodsitm.sort(reverse = True)
# print(count_foodsitm[-1])
# print(dict1)
min_count = {o:p for o,p in aa.items() if p == count_foodsitm[-1]}
# print(min_count)
for b,c in min_count.items():
    print(b,"is ordered",c,"time")

Tomato Soup is ordered 1 time
Rice Idli is ordered 1 time
Rice is ordered 1 time
Idli is ordered 1 time