<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Practice Set <br>(Week 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [16]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
ans = map(lambda x : x.upper(),lsbool)
print(list(ans))

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
l1 = 12
def height1(*height):
    print(height)

height1(l1)

(12,)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [26]:
square = int(input("Enter the number tp square : "))
cube = int(input("Enter the number tp cube : "))
squareroot = int(input("Enter the number tp squareroot : "))
double = int(input("Enter the number tp double : "))

s = lambda x : x**2
c = lambda y : y**3
sr = lambda z :z**0.5
d = lambda w : w+w

di = {"Square" : s(square), "Cube" : c(cube), "Squareroot" : sr(squareroot), "Double" : d(double)}
print(di)
sum = 0
for i,j in di.items():
    sum += j
    
print(sum)

Enter the number tp square : 2
Enter the number tp cube : 3
Enter the number tp squareroot : 25
Enter the number tp double : 50
{'Square': 4, 'Cube': 27, 'Squareroot': 5.0, 'Double': 100}
136.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [32]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

def up2(X):
    a = [i for i in X if i[1].isupper()]
    print(a)
up2(ls)

['hOw', 'ARe']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [62]:
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)
dic = dict(zip(tnames,tmarks))

def mark(x):
    if x > 40:
        return x
a = list(filter(mark,tmarks))
out = [f'{i}:{j}' for i,j in dic.items() if j in a ]
print(out)

['Sharon:50', 'Jack:75']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [89]:
def cnv(x):
    ans  = lambda x : 

WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81
ans  = map(cnv ,WeightOnEarth.items())
print(dict(ans))
for i,j in WeightOnEarth.items():
    ans  = j.remove

TypeError: <lambda>() missing 1 required positional argument: 'y'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [107]:
from functools import reduce 
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
new = []
for i in given_sets:
    new.append(set(i))
out = reduce(lambda x,y : x.intersection(y),new)
print(out)

{8, 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [116]:
def prd_price(**kwargs):
    print(kwargs)
    print(kwargs.keys())
    print(kwargs.values())

prd_price(prdA = 100,prdB = 15)

{'prdA': 100, 'prdB': 15}
dict_keys(['prdA', 'prdB'])
dict_values([100, 15])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [118]:
a = 16
b = 12
def mull():
    return a*b
mull()

192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [128]:
from itertools import accumulate
ls = [9,8,7,6,5]
out = accumulate(ls,lambda x,y : x+y)
print(list(out))

[9, 17, 24, 30, 35]