<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Practice Set <br>(Week 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [ ]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
Tup = tuple('5')
type(Tup)

tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [10]:
dictionary_1 = {'A':1, 'B':2}

dictionary_2 = {'C':3}

dictionary_3 = dictionary_1 | dictionary_2
dictionary_3

{'A': 1, 'B': 2, 'C': 3}

In [12]:
dictionary_1 = {'A':1, 'B':2}

dictionary_2 = {'C':3}

dictionary_1 .update(dictionary_2)
dictionary_1

{'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [16]:
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}
X.isdisjoint(Y)

False

In [19]:
x = {1,2,3,4}
y = {5,6,7,8}
x.isdisjoint(y)

True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [25]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
num_list[2]

6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [27]:
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6) 
num_tuple.count(-6)

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [33]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
if 53 in num_list:
    print("Present")
else:
    print("Not Present")

Not Present

[5, 3, 6, 1, 85, 23, 13]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [36]:
numbers = {2, 3, 4, 5}
numbers.remove(3)
numbers

{2, 4, 5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [37]:
num_list = [24, 18, 24, 47, 52]
num_tuple = tuple(num_list)
num_tuple

(24, 18, 24, 47, 52)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [41]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }, 'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 'Norway': { 'Capital':'Oslo', 'Population':0.533 } }
europe['Germany']['Capital']

'Berlin'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find maximum and the minimum value from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [45]:
a_set = {5, 10, 3, 15, 2, 20, 10, 5, 4, 3}
print(max(a_set))
print(min(a_set))
a_set

20
2

{2, 3, 4, 5, 10, 15, 20}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [62]:
a = input("Enter the 1st string : ")
b = input("Enter the 2nd string : ")
c = []
d = []
for i in a:
    c.append(i)
for j in b:
    d.append(j)
c.sort()
d.sort()
print(c)
print(d)
if c == d:
    print("Given strings is anagram")
else:
    print("Given string is not anagram")

Enter the 1st string : listen
Enter the 2nd string : silent
['e', 'i', 'l', 'n', 's', 't']
['e', 'i', 'l', 'n', 's', 't']
Given strings is anagram