<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Week 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Python Flow Control](#flow_control)**
2. **[List Comprehension](#lc)**

### Let's begin with some hands-on practice exercises

<a id= "flow_control"> </a>
## 1. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a code to print table of 5 using assignment operand +=.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
seq = int(input("Enter the sequence length : "))
a=0
for i in range(1,seq+1):
    a +=5
    print("5","X",i,"=",a)

Enter the sequence length : 10
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
a = 0
b = 1
c = 0

while c <= 10:
    print(a)
    temp = a + b
    a = b
    b = temp
    c +=1

0
1
1
2
3
5
8
13
21
34
55

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
a = int(input("Enter the 1st number"))
b = int(input("Enter the 2nd number"))

if a > b:
    print(a,"is greater than",b)
else:
    print(b,"is greater than",a)

Enter the 1st number10
Enter the 2nd number20
20 is greater than 10

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to check whether a number is divisible by 7 or not (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
num = int(input("Enter the number : "))

if num%7 == 0:
    print(num,"is divisible by 7")
else:
    print(num,"is not divisible by 7")

Enter the number : 21
21 is divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [101]:
num1 = int(input("Enter the number : "))
t = 1
if num1 < 0:
    print("number is negative")
elif num1 == 0 or num1 == 1:
    print("The factorial is 1")
else:
    for i in range(1,num1+1):
        t *= i
print(t)

Enter the number : 5
120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [115]:
num2 = int(input("Enter the number : "))

if num2 > 2:
    for i in range(2,num2):
        if num2 % i == 0:
            print(num2,"is not a prime number")
            print(i,"X",num2//i,"=",num2)
            break
    else:
        print(num2,"is a prime number")
else:
    print(num2,"is a prime number")

Enter the number : 17
17 is a prime number

In [116]:
num3 = int(input("Enter the number : "))

x = 0
t = 2

while num3 > t:
    if num3%t == 0:
        x = 1
    t +=1
if x ==0:
    print("Prime number")
else:
    print("Not a prime number")

Enter the number : 17
Prime number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [117]:
n1 =int(input("Enter the number1 : "))
n2 = int(input("Enter the number2 : "))

ln1 = 0
ln2 = 0

for i in range(1,n1):
    if n1%i == 0:
        ln1 += i
for j in range(1,n2):
    if n2%j == 0:
        ln2 += j
print(ln1)
print(ln2)

if ln1 == n2 and ln2 == n1:
    print("Given two numbers are amicable")
else:
    print("Given two number are not amicable")

Enter the number1 : 220
Enter the number2 : 284
284
220
Given two numbers are amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
st = input("Enter the string : ")
st1 = ""
for i in st:
    st1 = i + st1
print(st1)

Enter the string : string
gnirts

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [53]:
ln = int(input("Enter the length : "))
num = []
d = 0
for i in range(0,ln):
    a = int(input("Enter the number : "))
    num.append(a)
for j in num:
    d += j

print(d)
out = d//ln
print(out)

Enter the length : 5
Enter the number : 1
Enter the number : 2
Enter the number : 3
Enter the number : 4
Enter the number : 5
15
3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to find the area of a circle for a given radius (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [118]:
pi = 3.14
r = float(input("Enter the Radius : "))
area = pi * r**2

print("Area of Circle : ",area)

Enter the Radius : 23.5
Area of Circle :  1734.065

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [57]:
P = int(input("Enter the Principle : "))
R = int(input("Enter the Rate of intrest in percentage : "))
T = int(input("Enter the tenure in years : "))
SI = P*(R/100)*T
print(SI)

Enter the Principle : 5000000
Enter the Rate of intrest in percentage : 8
Enter the tenure in years : 30
12000000.0

<a id= "lc"> </a>
## 2. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use list comprehension to obtain the squre root of first 10 natural numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [119]:
[round(i**0.5,2) for i in range(1,11)]

[1.0, 1.41, 1.73, 2.0, 2.24, 2.45, 2.65, 2.83, 3.0, 3.16]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [120]:
w = input("Enter the sentence or word : ")
v = 'aeiou'
[ i for i in w if i.lower() in v]

Enter the sentence or word : great

['e', 'a']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [136]:
dict1 = {1 : {"Aman" : 24}, 2 : {"Mohit" : 25}, 3 : {"Guari" : 26}, 4 : {"Roma" : 27}}
dict1
for i in dict1.keys():
    if i%2 == 0:
        print(dict1.get(i))

{'Mohit': 25}
{'Roma': 27}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Use list comprehension to find even and odd numbers from first 20 whole numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
 [ f"{i} is even" if i%2 == 0 else f"{i} is odd"  for i in range(21)]

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even',
 '11 is odd',
 '12 is even',
 '13 is odd',
 '14 is even',
 '15 is odd',
 '16 is even',
 '17 is odd',
 '18 is even',
 '19 is odd',
 '20 is even']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Use list comprehension to print numbers divisible  by 2 and 3 in between 1 and 100. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [125]:
 [ i for i in range(1,101) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
a = { i : i**3 for i in range(1,11)}
print(a)
print(type(a))

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
<class 'dict'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [138]:
st = "string123great567leaa958ning"
[ i for i in st if i in '0123456789']

['1', '2', '3', '5', '6', '7', '9', '5', '8']

In [137]:
st = "string123great567leaa958ning"
[ i for i in st if i.isdigit()]

['1', '2', '3', '5', '6', '7', '9', '5', '8']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Use list comprehension to print table of 11 to 20 as shown below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <td>11</td><td>22</td><td>33</td><td>44</td><td>55</td><td>66</td><td>77</td><td>88</td><td>99</td><td>110</td> 
</tr>
    
<tr>
    <td>12</td><td>24</td><td>36</td><td>48</td><td>60</td><td>72</td><td>84</td><td>96</td><td>108</td><td>120</td> 
</tr>

<tr>
    <td>13</td><td>36</td><td>39</td><td>52</td><td>65</td><td>78</td><td>91</td><td>104</td><td>117</td><td>130</td> 
</tr> 

<tr>
     <td>14</td><td>28</td><td>42</td><td>56</td><td>70</td> <td>84</td><td>98</td><td>112</td><td>126</td><td>140</td> 
</tr>

<tr>
     <td>15</td><td>30</td><td>45</td><td>60</td><td>75</td><td>90</td><td>105</td><td>120</td><td>135</td><td>150</td> 
</tr>

<tr>
     <td>16</td><td>32</td><td>48</td><td>64</td><td>80</td><td>96</td><td>112</td><td>128</td><td>144</td><td>160</td> 
</tr> 

<tr>
     <td>17</td><td>34</td><td>51</td><td>68</td><td>85</td><td>102</td><td>119</td><td>136</td><td>153</td><td>170</td> 
</tr> 

<tr>
     <td>18</td><td>36</td><td>54</td><td>72</td><td>90</td> <td>108</td><td>126</td><td>144</td><td>162</td><td>180</td> 
</tr>

<tr>
 <td>19</td><td>38</td><td>57</td><td>76</td><td>95</td><td>114</td><td>133</td><td>152</td><td>171</td><td>190</td> 
</tr>

<tr>
     <td>20</td><td>40</td><td>60</td><td>80</td><td>100</td><td>120</td><td>140</td><td>160</td><td>180</td><td>200</td> 
<tr>    
    
</table>

In [93]:
[ [ i*j for j in range(1,11)] for i in range(11,21)]

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Use list comprehension to find transpose of the matrix given below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
    </tr>
    </table>

In [4]:
a =[[1,2],[3,4],[5,6],[7,8]]

[ [a[j][i] for j in range(len(a))] for i in range(len(a[0]))]

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [140]:
a =[[1,2],[3,4],[5,6],[7,8]]
[ [j[i] for j in a] for i in range(len(a[0]))]

[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21.  Assume a mother playing a "word guessing game  2 times" with children. She chooses 8 words relating to recent conversation  and write sets of clues to help students. Condition that children should not use same word again. children get 5 chances to guess the four letters word given below.
 
 Create a word set=["milk", "race", "rice", "race", "hide", "tree","jump","bike"] 
 
 like and take user input display like "Let's play a word guessing game . The word has 4 letters in it. You get 5 guesses. Guess a letter " if you guess correct 2 time it will display. If children found answer with 2 option display wow
 
 Great Guess! for 1st time
 
 Great Guess! for 2nd time
 
 Thanks for playing! you won!
 
 
 Exiting
 
 If your guess wrongly your code will ask 5 times to guess the word as shown in the below example
 
 Sorry, try again. was
 
 Sorry, try again. the
 
 Sorry, try again. are
 
 Sorry, try again. the
 
 Sorry, try again. are
 
 if you did not find 2 option it return you lose.
 
 
 make sure that program takes only smaller case values..</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [95]:
set=["milk", "race", "rice", "race", "hide", "tree","jump","bike"]
count = 0
print("Let's play a word guessing game")
print("The word has 4 letters in it. You get 5 guesses. Guess a letter")
for i in range(5):
    if count==0:
        A = input()
        if A.lower() in set:
            print("Great Guess! for 1st time")
            count +=1
        else:
            print("Sorry, try again.",A)
    elif count == 1:
        B = input()
        if B.lower() in set:
            if A.lower() == B.lower():
                print("Sorry Already guessed, try again.",B)
            else:
                print("Great Guess! for 2nd time")
                print("THANKS FOR PLAYING! YOU WON!")
                break
        else:
            print("Sorry, try again.",B)
else:
    print("YOU LOSE THE GAME")

Let's play a word guessing game
The word has 4 letters in it. You get 5 guesses. Guess a letter
adcd
Sorry, try again. adcd
bike
Great Guess! for 1st time
bike
Sorry Already guessed, try again. bike
race
Great Guess! for 2nd time
THANKS FOR PLAYING! YOU WON!

In [86]:
import random
set=["milk", "race", "rice", "race", "hide", "tree","jump","bike"]
count = 0
print("Let's play a word guessing game")
print("The word has 4 letters in it. You get 5 guesses. Guess a letter")
word = random.choice(set)
print(word)
for i in range(5):
    if count==0:
        A = input()
        if A.lower() == word:
            print("Great Guess! for 1st time")
            count +=1
        else:
            print("Sorry, try again.",A)
    elif count == 1:
        B = input()
        if B.lower() ==word:
            if A.lower() == B.lower():
                print("Sorry Already guessed, try again.",B)
            else:
                print("Great Guess! for 2nd time")
                print("THANKS FOR PLAYING! YOU WON!")
                break
        else:
            print("Sorry, try again.",B)
else:
    print("YOU LOSE THE GAME")

Let's play a word guessing game
The word has 4 letters in it. You get 5 guesses. Guess a letter
jump
milk
Sorry, try again. milk
rice
Sorry, try again. rice
race
Sorry, try again. race
jump
Great Guess! for 1st time
hide
Sorry, try again. hide
YOU LOSE THE GAME