In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">1. Read the dataset(matches.csv) and Answer below questions


   A. Display the no.of matches played in the dataset?

   B. What percentages of the match are won by the toss winners?

   C. Who won the final match and also which two teams reached the finals match?

   D. Create a data frame of the team that have won the match after winning the toss?
   
   E. What percentage of matches are won after selecting from the toss_decision as a field?

In [ ]:
df=pd.read_csv("matches.csv")
df=df[df['season']==2017]  
df.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

####  A. Display the no.of matches played in the dataset?

In [ ]:
no_of_matches=df.shape[0]
print(no_of_matches)

59

#### B.What percentages of match are won by the toss winners?

In [ ]:
p=df[df['winner']==df['toss_winner']]
q=(p.shape[0]/df.shape[0])*100
q

57.6271186440678

#### C.Who won the final match and also which two teams reached the finals match?

In [ ]:
last_match=df.tail(1)
last_match['winner']

58    Mumbai Indians
Name: winner, dtype: object

In [ ]:
last_match[['team1','team2']]

             team1                   team2
58  Mumbai Indians  Rising Pune Supergiant

#### D. Create a dataframe of the team who have won the match after winning toss?

In [ ]:
df=df[['toss_winner','toss_decision','winner']]
equal=df[df['toss_winner']==df['winner']]  
equal.head(2)

              toss_winner toss_decision                  winner
1  Rising Pune Supergiant         field  Rising Pune Supergiant
2   Kolkata Knight Riders         field   Kolkata Knight Riders

#### E. What percentage of matches are won after selecting from the toss_decision as a field?

In [ ]:
ZERO=equal[df.toss_decision=='field']    #this will show the dataframe of the team who have won fielding first.
ZERO.shape[0]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

28

In [ ]:
#28 is the number of matches won fielding first
games_won_field_first=(ZERO.shape[0]/df.shape[0])*100

In [ ]:
games_won_field_first

47.45762711864407

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">2. Read the dataset(911.csv) and Answer below questions

   A. Find the Topmost zipcodes and townships (twp) for 911 calls?

   B. There are EMS, Fire, and TrafficMake you need to separate column to create a new column called "Reason" and understand our data more?

   C. What is the most common reason for a 911 call?

   D. Change the timeStamp from strings to DateTime objects and also grab specific attributes(For example Hour, Month and Day of the Week) from a DateTime object.

   E. Restructure the data frame so that the columns become the Hours and the Index becomes the Day of the Week?

In [ ]:
df= pd.read_csv('911.csv')
df.head(2)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1

#### A. Find the Top 1 zipcodes and townships (twp) for 911 calls?

In [ ]:
df['zip'].value_counts().head(1)

19401.0    28656
Name: zip, dtype: int64

In [ ]:
df['twp'].value_counts().head(1)

LOWER MERION    36441
Name: twp, dtype: int64

#### B. There are EMS, Fire, and TrafficMake you need to separate column to create a new column called "Reason" and understand our data more?

In [ ]:
df['Reason']= df['title'].apply(lambda x:x.split(':')[0])
df.Reason

0             EMS
1             EMS
2            Fire
3             EMS
4             EMS
           ...
423904    Traffic
423905    Traffic
423906    Traffic
423907    Traffic
423908    Traffic
Name: Reason, Length: 423909, dtype: object

#### C. What are the most common Reason for a 911 call ?

In [ ]:
df['Reason'].value_counts()

EMS        208676
Traffic    151458
Fire        63775
Name: Reason, dtype: int64

#### D.Change the timeStamp from strings to DateTime objects and also grab specific attributes(For example: Hour, Month and Day of the Week) from a Datetime object.

In [ ]:
df['timeStamp'] = pd.to_datetime(df['timeStamp'])

In [ ]:
df['Hour'] = df['timeStamp'].apply(lambda time: time.hour)
df['Month'] = df['timeStamp'].apply(lambda time: time.month)
df['Day of Week'] = df['timeStamp'].apply(lambda time: time.dayofweek)

#### E. Restructure the dataframe so that the columns become the Hours and the Index becomes the Day of the Week?

In [ ]:
dayHour = df.groupby(by=['Day of Week','Hour']).count()['Reason'].unstack()
dayHour.head(2)

Hour,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Day of Week,,,,,,,,,,,,,,,,,,,,,
0,1207,974,857,784,871,1124,1729,2829,3588,3685,...,3547,3975,4063,4003,3512,2821,2418,2005,1698,1283
1,1086,918,812,783,824,1075,1806,2912,3650,3563,...,3831,4087,4265,4396,3753,2960,2535,2147,1705,1350

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">3. Read the dataset(Ecommerce_Purchases.csv) and Answer below questions?
    
   A. What were the highest and lowest purchase prices?
  
  B. How many people have English 'en' as their Language of choice on the website?
  
  C. How many people have the job title of "Lawyer" ?
  
  D. How many people made the purchase during the AM and how many people made the purchase during PM ?
  
  E. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [ ]:
ecom = pd.read_csv('Ecommerce_Purchases.csv')

#### A. What were the highest and lowest purchase prices?

In [ ]:
# Highest
ecom['Purchase Price'].max()

99.99

In [ ]:
# Lowest
ecom['Purchase Price'].min()

0.0

#### B. How many people have English 'en' as their Language of choice on the website?

In [ ]:
ecom[ecom['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

#### C. How many people have the job title of "Lawyer" ?

In [ ]:
ecom[ecom['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

#### D. How many people made the purchase during the AM and how many people made the purchase during PM ?

In [ ]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

#### E. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [ ]:
ecom[ecom['Lot']=="90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">4. Read the Dataset (Ramen-ratings.CSV)
    

 A. Identify how many brands the data is captured. (2 Marks) 
 
 B. Identify for how many rows the data for column Top Ten exists? (2 Marks) 
 
 C. Display the data of bowl noodles for countries China and Taiwan. (3 Marks) 
 
 D. Store the result in a data frame. Using the data frame find the brands that have ranking more than 4. (3 Marks) 
 
 E. For Every Country and Style of noodle find the average Stars. Order them by stars highest to lowest. (4 Marks) 
 
 
 F. Write a function to return the year in numbers or null if there is no value for the Top Ten column. Use this value to create a new column Top_Year. (5 Marks) Add the column to the dataset. (1 Marks)"

In [6]:
ramen=pd.read_csv('ramen-ratings.csv')
ramen.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
ramen.shape

(2580, 7)

In [ ]:
ramen['Brand'].nunique()

355

In [ ]:
ramen['Brand'].unique()

array(['New Touch', 'Just Way', 'Nissin', 'Wei Lih', "Ching's Secret",
       'Samyang Foods', 'Acecook', 'Ikeda Shoku', "Ripe'n'Dry", 'KOKA',
       'Tao Kae Noi', 'Yamachan', 'Nongshim', 'TRDP', 'Binh Tay', 'Paldo',
       'Jackpot Teriyaki', 'Yum-Mie', 'MyKuali', 'Ottogi',
       'Sichuan Guangyou', 'Lipton', 'Lele', 'Fujiwara', 'Uni-President',
       'Maruchan', 'Prima', 'Sokensha', 'Takamori', 'Guava Story',
       'Samurai Ramen', 'Ogasawara', 'Pringles', "Mom's Dry Noodle",
       'Maggi', 'Indomie', 'Happy Cook', 'The Ramen Rater Select', 'TTL',
       'E-Zee', 'Kiki Noodle', 'Tokyo Noodle', 'GGE', 'Myojo', 'Sau Tao',
       'Wang', 'Daifuku', 'Master Kong', "World O' Noodle", 'Kang Shi Fu',
       'Mum Ngon', 'Fashion Food', 'Dream Kitchen', 'Ajinatori',
       "Dr. McDougall's", 'Ve Wong', 'Super Bihun', 'Xiuhe',
       'Little Cook', 'Shirakiku', "Mama Pat's", 'Goku-Uma',
       'Sichuan Baijia', 'Liang Cheng Mai', 'Gefen', 'Hua Feng',
       'Pulmuone', 'Liu Quan', 'Daikoku', 'Chuan Wei Wang', 'Wai Wai',
       'Kamfen', 'Marutai', 'Vifon', '1 To 3 Noodles', 'Fantastic',
       'Knorr', 'Sempio', 'Patanjali', 'Qin Zong', 'Pran',
       'Sapporo Ichiban', 'MAMA', 'Xiao Ban Mian', 'Suimin', 'Cintan',
       'JML', 'Unif Tung-I', 'Tablemark', "Farmer's Heart", 'Fuku',
       'Singa-Me', 'Love Cook', 'Great Value', 'Asian Thai Foods',
       'Nagatanien', 'Nyor Nyar', 'Tseng Noodles', 'A-Sha Dry Noodle',
       'Morre', 'Roland', "Mr. Lee's Noodles", 'Choumama',
       'President Rice', 'Happy Family', 'Menraku', 'La Moderna',
       'Jingqi', 'Thien Houng Foods', 'Doll', 'Four Seas', 'CarJEN',
       '7 Select', 'Oni Hot Pot', 'Weh Lih', 'Itomen', 'Sanpo',
       'Mi Sedaap', 'Tokushima Seifun', 'Mamee', 'Zow Zow', 'Koyo',
       'ORee Garden', 'A1', 'Migawon', "Chaudhary's Wai Wai",
       'Urban Noodle', 'Trident', 'Conimex', 'Prima Taste', 'MyOri',
       'Itsuki', 'Kabuto Noodles', 'IbuRamen', 'Koh Thai', 'Bamee',
       'Ibumie', 'Unox', 'Fortune', 'Bonasia', 'Mie Sedaap', 'iMee',
       'Thai Smile', 'Asia Gold', 'Pirkka', 'Higashimaru', 'Kuriki',
       'Vedan', 'Yum Yum', 'Mama', 'Baijia', 'Daraz', 'Pama', 'Seven & I',
       'Forest Noodles', "Vit's", 'Ten-In', 'Sugakiya Foods', 'Hao Way',
       'Nakaya Shouten', 'Thai Chef', 'Crystal Noodle', 'Azami', 'Super',
       'Torishi', 'Western Family', 'Chering Chang', 'Ishimaru',
       'Authentically Asian', 'Aroi', 'Koka', 'Wu-Mu', 'Yamadai',
       'Vina Acecook', 'Baixiang Noodles', 'Salam Mie', 'Lee Fah Mee',
       'Sakurai Foods', 'The Kitchen Food', 'Premiere', '7 Select/Nissin',
       'Wugudaochang', 'Emart', 'Lishan Food Manufacturing', 'Ah Lai',
       'Tropicana Slim', 'A-One', 'Deshome', 'Paldo Vina', 'Chencun',
       'United', 'ChoripDong', 'Shan', 'Ruski', 'No Name', 'New Way',
       'Lucky Me!', "Campbell's", 'One Dish Asia', 'Long Jun Hang',
       'Unif-100', 'Hankow', 'The Bridge', 'Mitoku', 'Unzen', 'Uncle Sun',
       'Mi E-Zee', 'E-mi', 'J.J.', 'Curry Prince', 'Econsave', 'Oyatsu',
       'Kin-Dee', 'Ko-Lee', 'ICA', 'Nanyang Chef', 'Thai Pavilion',
       'Miliket', 'Katoz', 'Men-Sunaoshi', 'Chewy', 'Adabi',
       'Osaka Ramen', "Sainsbury's", 'Pamana', "Annie Chun's", 'La Fonte',
       'Thai Choice', 'Tesco', 'Pop Bihun', 'Snapdragon', 'Saji',
       'Miracle Noodle', 'Tiger Tiger', 'Takamori Kosan', 'Papa',
       'Sawadee', 'Golden Wheat', 'Lotus Foods', 'Plats Du Chef',
       'Batchelors', 'Sakura Noodle', 'Unif', 'Hi-Myon', 'Healtimie',
       'Thai Kitchen', 'Mr. Noodles', 'Good Tto Leu Foods', 'GaGa',
       'Kimura', 'Tokachimen Koubou', 'ABC', 'Eat & Go', 'President',
       'SuperMi', 'Kumamoto', 'HoMyeonDang', 'Nan Jie Cun', 'China Best',
       'Sanrio', 'Peyang', 'Golden Wonder', 'Komforte Chockolates',
       'Nagao Noodle', 'Maitri', 'GS25', 'Baltix', 'Amianda',
       'Tasty Bite', 'Star Anise Foods', 'Tradition', 'Amino',
       'Pot Noodle', 'Sun Noodle', 'S&S', 'Springlife', 'Right Foods',
       'Sunlee', 'Goku Uma', 'Daddy', "Han's South Korea", 'Sarimi',
       'FMF', 'Long Kow', 'Unif / Tung-I', 'Song Hak', 'Fuji Mengyo',
       'Dragonfly', 'CJ CheilJedang', 'Dongwon', 'Seven-Eleven', 'Souper',
       "Kim's Bowl", 'Ohsung', 'Gau Do', 'Golden Mie', 'GreeNoodle',
       'Kailo', 'Fashion Foods', 'Hosoonyi', 'Payless', 'Yamamoto',
       'Saigon Ve Wong', 'Wu Mu', 'Mee Jang', 'JFC', 'Samyang',
       'Mug Shot', 'Lishan', 'Cap Atoom Bulan', 'Sura', 'Wei Chuan',
       'Yamamori', 'Mr. Udon', 'Omachi', 'Wei Wei', 'Six Fortune',
       'Haioreum', 'Sunlight', 'Noah Foods', 'O Sung', 'Foodmon',
       'Sahmyook', 'Nan Hsing', 'Mexi-Ramen', 'Hsin Tung Yang', 'Sao Tao',
       'iNoodle', 'Quickchow', 'Chikara', 'Q', 'Noodle Time', 'Gomex',
       'US Canning', 'Rhee Bros Assi', 'Bon Go Jang', 'Tayho',
       'Sunny Maid', 'Royal Umbrella', 'Tiger',
       'Fu Chang Chinese Noodle Company', 'Sanyo Foods', 'Rocket Brand',
       'Boss', 'Chorip Dong', 'Higashi', 'Sakurai', 'Global Inspiration',
       'Teriyaki Time', 'Hua Feng Noodle Expert', 'Kim Ve Wong', 'Smack',
       'Sutah', 'Tung-I', 'Westbrae'], dtype=object)

In [ ]:
ramen[ramen['Top Ten'].isnull()==False]['Top Ten']

616     2016 #10
633      2016 #1
655      2016 #8
673      2016 #5
752      2016 #9
891      2016 #7
942     2015 #10
963      2015 #7
995      2015 #4
1059     2015 #9
1072     2015 #6
1080     2015 #1
1109    2013 #10
1114     2015 #8
1230     2014 #7
1250     2014 #4
1272     2014 #9
1278    2014 #10
1309     2014 #8
1382     2014 #5
1397     2014 #6
1493     2014 #1
1588     2013 #1
1589     2013 #2
1646     2013 #4
1757     2013 #9
1865     2013 #3
1972    2012 #10
2002     2012 #7
2146     2012 #5
2188     2012 #3
2189     2012 #6
2295     2012 #9
2475     2012 #1
2533     2012 #2
2549     2013 #6
2567     2012 #4
Name: Top Ten, dtype: object

In [ ]:
ramen[ramen['Top Ten'].isnull()==False]['Top Ten'].count()

37

#### D. Display the data of bowl noodles for countries China and Taiwan. (3 Marks)

In [ ]:
china_taiwan=ramen[((ramen['Country']=='China') | (ramen['Country']=='Taiwan'))&(ramen['Style']=='Bowl')]
china_taiwan

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
33,2547,Sichuan Guangyou,Chongqing Spicy Hot Noodles,Bowl,China,4.00,NaN
65,2515,Uni-President,Man Han Feast Spicy Beef Flavor Instant Noodles,Bowl,Taiwan,5.00,NaN
77,2503,Sichuan Guangyou,Sweet Potato Instant Noodle Sout-Hot Flavor,Bowl,China,0.00,NaN
118,2462,TTL,Sesame Oil Chicken Noodle With Rice Wine,Bowl,Taiwan,5.00,NaN
141,2439,Uni-President,Man Han Feast Super Hot Pot Beef Flavor Instan...,Bowl,Taiwan,5.00,NaN
...,...,...,...,...,...,...,...
2264,316,Unif,Super Bowl Artificial Stewed Pork Chop,Bowl,Taiwan,3.50,NaN
2265,315,Unif,Super Bowl Artificial Spicy Beef,Bowl,Taiwan,2.75,NaN
2279,301,Dragonfly,Guilin Style Rice Vermicelli,Bowl,China,4.50,NaN
2287,293,Tiger,Onion Flaver Rice Noodle,Bowl,Taiwan,0.00,NaN
2537,43,Kim Ve Wong,Jaopai Series: Vegetarian Instant Noodles,Bowl,Taiwan,0.00,NaN

#### E. Store the result in a data frame. Using the data frame find the brands that have ranking more than 4.(2 Marks)

In [ ]:
china_taiwan[china_taiwan['Stars']>4.0]['Brand'].unique()

array(['Uni-President', 'TTL', 'Xiuhe', 'Little Cook', 'Sichuan Baijia',
       'Master Kong', 'JML', 'Wei Lih', 'Wugudaochang', 'Vedan', 'Unif',
       'Dragonfly'], dtype=object)

#### F. For Every Country and Style of noodles find the average Stars. Order the stars from highest to lowest.(4 Marks)

In [ ]:
x=ramen[['Country','Style','Stars']]
x.groupby(['Country','Style'])['Stars'].mean().sort_values( ascending=False)

Country      Style
Malaysia     Box      5.000000
Japan        Box      5.000000
USA          Bar      5.000000
Brazil       Cup      4.500000
Japan        Tray     4.375000
                        ...
Canada       Bowl     2.281250
             Cup      1.970588
Nigeria      Pack     1.500000
USA          Box      1.500000
Netherlands  Cup      1.333333
Name: Stars, Length: 87, dtype: float64

#### G. Write a function to return the year in numbers or null if there is no value for Top Ten column. Use this value to create a new column Top_Year.(5 Marks) and Add the column to the dataset.(1 Marks)

In [ ]:
ramen[ramen['Top Ten'].isnull()==False][['Brand','Top Ten']]

                 Brand   Top Ten
616               MAMA  2016 #10
633        Prima Taste   2016 #1
655              Prima   2016 #8
673        Prima Taste   2016 #5
752      Tseng Noodles   2016 #9
891       Wugudaochang   2016 #7
942   A-Sha Dry Noodle  2015 #10
963            MyKuali   2015 #7
995             CarJEN   2015 #4
1059          Maruchan   2015 #9
1072             Mamee   2015 #6
1080           MyKuali   2015 #1
1109              Mama  2013 #10
1114              Mama   2015 #8
1230             Mamee   2014 #7
1250   Sapporo Ichiban   2014 #4
1272          Nongshim   2014 #9
1278              Mama  2014 #10
1309       Prima Taste   2014 #8
1382     Samyang Foods   2014 #5
1397             Paldo   2014 #6
1493           MyKuali   2014 #1
1588       Prima Taste   2013 #1
1589       Prima Taste   2013 #2
1646          Nongshim   2013 #4
1757             Paldo   2013 #9
1865           Indomie   2013 #3
1972              Koka  2012 #10
2002          Nongshim   2012 #7
2146         Mi Sedaap   2012 #5
2188            Nissin   2012 #3
2189             Myojo   2012 #6
2295              Doll   2012 #9
2475           Indomie   2012 #1
2533           Indomie   2012 #2
2549             Myojo   2013 #6
2567   Sapporo Ichiban   2012 #4

In [12]:
def find_year(x):
    if x.split('#')[0]:
        return x.split('#')[0]
    else:
        return null

In [13]:
y=ramen['Top Ten'].apply(lambda x: find_year(str(x)))
y

0       nan
1       nan
2       nan
3       nan
4       nan
       ...
2575    nan
2576    nan
2577    nan
2578    nan
2579    nan
Name: Top Ten, Length: 2580, dtype: object

In [15]:
ramen['Top_year']=y
ramen[ramen['Top_year'].isnull() == False]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,Top_year
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,nan
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,nan
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,nan
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,nan
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN,nan
...,...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,nan
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,nan
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,nan
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,nan
2579,1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN,nan