<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Inclass Exercise <br>(Week - 4)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Import Libraries](#lib)**
2. **[Large Sample Test](#z)**
    - 2.1 - **[Two Sample Z Test](#2z)**
3. **[Small Sample Test](#t)**
    - 3.1 - **[Two Sample t Test (Unpaired)](#2t)**
    - 3.2 - **[Paired t Test](#paired)**
4. **[Chi-Square Test](#chisq)**
5. **[One-way ANOVA](#1way)**

<a id = "lib"> </a>
## 1. Import Libraries

In [25]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns
from statsmodels.stats import weightstats as stests

<a id = "z"> </a>
## 2. Large Sample Test

<a id = "2z"> </a>
## 2.1 Large Two Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [3]:
ele = pd.read_csv('electronic.csv')
ele

    Screensize (inch)  Price ($)  Weight (g)     Type
0                 6.5        245         252  Phablet
1                 6.3        210         252  Phablet
2                 6.1        224         234  Phablet
3                 6.0        217         212  Phablet
4                 6.4        252         252  Phablet
..                ...        ...         ...      ...
95                8.5        210         462   Tablet
96                8.5        203         462   Tablet
97                9.0        203         473   Tablet
98                8.9        175         430   Tablet
99                8.5        196         451   Tablet

[100 rows x 4 columns]

In [12]:
Phablet = ele[ele['Type'] == 'Phablet']['Price ($)']
Tablet = ele[ele['Type'] == 'Tablet']['Price ($)']

s1,p1 = stats.shapiro(Phablet)
p1 = round(p1,3)

s2,p2 = stats.shapiro(Tablet)
p2 = round(p2,3)

print('p1 =',p1)
print('p2 =',p2)

p1 = 0.205
p2 = 0.338

In [30]:
stat, p_value = stats.levene(Phablet, Tablet)
print(stat)
print(p_value)

0.6635459332943239
0.41728596812962016

since pvalue is greater than 0.05. so fail to reject the null hypo. Hence the price of a phablet is not the same as the price of tablet

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [31]:
H0 = 'Phablet -Tablet == 0'
HA = 'Phablet -Tablet != 0'

In [13]:
sample_avg1 = np.mean(Phablet)
sample_avg2 = np.mean(Tablet)

In [21]:
sample_std1 = np.std(Phablet)
sample_std2 = np.std(Tablet)

In [22]:
n1 = len(Phablet)
n2 = len(Tablet)

In [23]:
stats.norm.interval(0.95, loc = sample_avg1 - sample_avg2, scale= np.sqrt(((sample_std1**2)/n1) + ((sample_std2**2)/n2)))

(35.878949383413975, 54.841050616585996)

In [26]:
zs, pval = stests.ztest(x1 = Phablet, x2 = Tablet, value = 0 )

In [28]:
print(zs)
print(pval)

9.282772555558113
1.6512473234517284e-20

<a id="t"></a>
## 3. Small Sample Test

<a id="2t"></a>
## 3.1. Two sample T test Unpaired

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [33]:
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

n1 = len(harry)
n2 = len(ron)

sample_avg1 = np.mean(harry)
sample_avg2 = np.mean(ron)

sample_std1 = np.std(harry)
sample_std2 = np.std(ron)

print('Degrees of freedom',n1+n2-2)

Degrees of freedom 12

In [45]:
s1,p1 = stats.shapiro(harry)
p1 = round(p1,3)

s2,p2 = stats.shapiro(ron)
p2 = round(p2,3)

print('p1 =',p1)
print('p2 =',p2)

p1 = 0.575
p2 = 0.918

In [46]:
stat, p_value = stats.levene(harry, ron)
print(stat)
print(p_value)

0.12793271359008374
0.7267972480247995

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using a critical value method and p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [52]:
t_val = np.abs(round(stats.t.isf(q = 0.1, df = 12), 2))
print('Critical value :', t_val)

Critical value : 1.36

In [54]:
t_stat,p_val = stats.ttest_ind(a = harry, b = ron)
p_val

0.01385995160611642

harry takes less time to delivery newspaper compare ron

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Research suggests that the fat content (in g) in the rice-bran oil of Nutura products is less than that of Markgen products. To test this claim we have recorded the fat content in 6 packs of 100 g oil from both the companies. Consider a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        Nutura_fat = [99.5, 98, 98.6, 98.2, 96.8, 98.4]
        Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

In [49]:
Nutura_fat = [99.5, 98, 98.6, 98.2, 96.8, 98.4]
Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

n1 = len(Nutura_fat)
n2 = len(Markgen_fat)

samp_avg1 = np.mean(Nutura_fat)
samp_avg2 = np.mean(Markgen_fat)

samp_std1 = np.std(Nutura_fat)
samp_std2 = np.std(Markgen_fat)

print('Degree of Freedom',n1+n2-2)

Degree of Freedom 10

In [50]:
s1,p1 = stats.shapiro(harry)
p1 = round(p1,3)

s2,p2 = stats.shapiro(ron)
p2 = round(p2,3)

print('p1 =',p1)
print('p2 =',p2)

p1 = 0.575
p2 = 0.918

<a id='paired'></a>
## 3.2.Two sample paired T-test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>6. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [4]:
# type solution here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The gym trainer claims that the new aerobic exercise has reduced the weight of the customers. The weight in the last month before the aerobic exercise and weight in this month after the aerobic exercise is recorded for 6 people. Test the trainer's claim with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
        wt_after = [82, 71, 64, 65.2, 67.8, 64.7]

In [5]:
# type solution here

<a id = "chisq"> </a>
## 4. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 6.

please use below dataset

#read the sample data 
df_emp = pd.read_csv('Employee_Attrition.csv')

#display the first two observations
df_emp.head(2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type solution here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# type solution here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# type solution here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# type solution here

<a id = "1way"> </a>
## 5. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 7 to 11.

Please use below dataset

#read the sample data 
df_emp = pd.read_csv('sales_emp.csv')

#display the first two observations
df_emp.head(2)

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type solution here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type solution here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# type solution here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type solution here